alias cd..="cd .."
alias please="sudo"
alias ls="ls -al -G --color"
alias pull="git pull origin master"
alias push="git push origin HEAD"
alias c=clear
alias gti=git
alias godmode="sudo -s"
alias rmdir="rm -r"
alias sha1="openssl sha1"
alias ping="ping -c 5"
alias connect="sudo ifup wlan0"
alias poweroff="sudo systemctl poweroff"
alias reboot="sudo systemctl reboot"
alias halt="sudo systemctl poweroff"
alias battery="/home/ozcodex/docs/script/battery_status.sh"
