# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = "Oscar Bernal"
	email = "oscarbernal93@gmail.com"
	signingkey = B7E4C8F80503C97E
[core]
	editor = vi
	filemode = false
	ignorecase = false
[commit]
	gpgsign = true
